Package: me.aleksilassila.wsjnopaywall
Name: WSJNoPaywall
Version: 0.0.1
Architecture: iphoneos-arm
Description: Bypass WSJ paywall.
Maintainer: Aleksi Lassila
Author: Aleksi Lassila
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
